<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.buymeproject.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.buymeproject.servlets.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.buymeproject.servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteAccountServlet</servlet-name>
		<servlet-class>com.buymeproject.servlets.DeleteAccountServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteAccountServlet</servlet-name>
		<url-pattern>/DeleteAccountServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AuctionSchedulerServlet</servlet-name>
		<servlet-class>com.buymeproject.servlets.AuctionSchedulerServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>FetchNotificationsServlet</servlet-name>
		<servlet-class>com.buymeproject.servlets.FetchNotificationsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FetchNotificationsServlet</servlet-name>
		<url-pattern>/FetchNotificationsServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CreateAuctionServlet</servlet-name>
		<servlet-class>com.buymeproject.servlets.CreateAuctionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateAuctionServlet</servlet-name>
		<url-pattern>/CreateAuctionServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PlaceBidServlet</servlet-name>
		<servlet-class>com.buymeproject.servlets.PlaceBidServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PlaceBidServlet</servlet-name>
		<url-pattern>/PlaceBidServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SearchAuctionsServlet</servlet-name>
		<servlet-class>com.buymeproject.servlets.SearchAuctionsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchAuctionsServlet</servlet-name>
		<url-pattern>/SearchAuctionsServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SetAlertsServlet</servlet-name>
		<servlet-class>com.buymeproject.servlets.SetAlertsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SetAlertsServlet</servlet-name>
		<url-pattern>/SetAlertsServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>QuestionServlet</servlet-name>
		<servlet-class>com.buymeproject.servlets.QuestionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuestionServlet</servlet-name>
		<url-pattern>/QuestionServlet</url-pattern> 
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminDashboardServlet</servlet-name>
		<servlet-class>com.buymeproject.servlets.AdminDashboardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminDashboardServlet</servlet-name>
		<url-pattern>/AdminDashboard</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>com.buymeproject.servlets.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/AdminServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReplyServlet</servlet-name>
		<servlet-class>com.buymeproject.servlets.ReplyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReplyServlet</servlet-name>
		<url-pattern>/ReplyServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RoleManagementServlet</servlet-name>
		<servlet-class>com.buymeproject.servlets.RoleManagementServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoleManagementServlet</servlet-name>
		<url-pattern>/RoleManagementServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CustomerRepDashboardServlet</servlet-name>
		<servlet-class>com.buymeproject.servlets.CustomerRepDashboardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerRepDashboardServlet</servlet-name>
		<url-pattern>/CustomerRepDashboard</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EditAccountServlet</servlet-name>
		<servlet-class>com.buymeproject.servlets.EditAccountServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditAccountServlet</servlet-name>
		<url-pattern>/EditAccountServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteBidsServlet</servlet-name>
		<servlet-class>com.buymeproject.servlets.DeleteBidsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteBidsServlet</servlet-name>
		<url-pattern>/DeleteBidsServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteAuctionsServlet</servlet-name>
		<servlet-class>com.buymeproject.servlets.DeleteAuctionsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteAuctionsServlet</servlet-name>
		<url-pattern>/DeleteAuctionsServlet</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>

	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>

	<error-page>
		<error-code>404</error-code>
		<location>/error404.jsp</location>
	</error-page>

</web-app>
